@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    margin: auto;


}
h1{
    border-bottom: 2px solid orange;
    box-shadow: .2em .2em .2em gray;
    background-color: orange;
    color: white;
}

